---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
redirect_from:
  - /publications/
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Working papers and work in progress</h2>
<hr />

<ul>
  <li>
    <strong>Touristification and incumbent residents: evidence from personal income tax records</strong>
    <br />
    Work in progress with Susana Peralta and <a href="https://sites.google.com/site/joaorpereirasantos/home">João Pereira dos Santos</a>.
  </li>
</ul>

